<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>微信四级平台后台</title>
</head>

<link rel="stylesheet" type="text/css"
	th:href="@{/plugin/adminTemplate-master/css/admin.min.css}" />

<script type="text/javascript"
	th:src="@{/zogrid/dependents/jquery/jquery.min.js}"></script>
<script th:src="@{/plugin/adminTemplate-master/js/admin.min.js}"
	type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/loading.css}" />
<script type="text/javascript" th:src="@{/js/loading.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}" />
<script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>

<!-- bootstrap -->
<script type="text/javascript"
	th:src="@{/zogrid/dependents/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/zogrid/dependents/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
	    <script src="zogrid/dependents/bootstrap/plugins/ie/html5shiv.js"></script>
	    <script src="zogrid/dependents/bootstrap/plugins/ie/respond.js"></script>
	<![endif]-->
<!--[if lt IE 8]>
	    <script src="zogrid/dependents/bootstrap/plugins/ie/json2.js"></script>
	<![endif]-->
<!-- font-awesome -->
<link rel="stylesheet" type="text/css"
	th:href="@{/zogrid/dependents/fontAwesome/css/font-awesome.min.css}"
	media="all" />
<!-- DLShouWen Grid -->
<script type="text/javascript" th:src="@{/zogrid/dlshouwen.grid.js}"></script>
<script type="text/javascript" th:src="@{/zogrid/i18n/zh-cn.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/zogrid/dlshouwen.grid.css}" />
<!-- datePicker -->
<script type="text/javascript"
	th:src="@{/zogrid/dependents/datePicker/WdatePicker.js}" defer="defer"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/zogrid/dependents/datePicker/skin/WdatePicker.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/zogrid/dependents/datePicker/skin/default/datepicker.css}" />


<script>
	//<![CDATA[

	//]]>
</script>

<body>



</body>
<script type="text/javascript" th:src="@{/js/admin.js}"></script>
</html>